<div class="row">

<div class="col-md-4">
  <p>
      <h2>
        {{graph.description}}
      </h2>
  </p>

   {{graph}}

  <div ng-controller='showActive'>

    Questo è il JSON con la risposta:
    <ul>
       <li ng-repeat="(key, value) in graph track by $index">
          {{key}} => {{value}}
       </li> 
    </ul>
    <p>
        Stato della richiesta:
        <br/>
        {{status}}    
    </p>
    
    
  </div>

</div>


<div class="col-md-6">
   <graph values="graph.data"></graph>
</div>


</div>
